# Environments
.venv/
venv/
ENV/

# Secrets
.env

# Large Files & Data
yolo26n.pt
yolov8m.pt
yolov8n.pt

# Output & Logs
output/
runs/
__pycache__/
*.log

# IDE Junk
.vscode/
tempCodeRunnerFile.python